<div class="row">
  <div class="col-sm-12">
    <div class="card shadow-sm mt-3">
      <div class="card-body" *ngIf="seatsStatus$ | async as status">
        <app-small-loader [loading]="status === 'loading'"></app-small-loader>
        <app-error [error]="status === 'error'" [text]="seatsError$ | async"></app-error>
        <div class="seat-grid-container">
          <span app-seats-element *ngFor="let seat of seats$ | async" [ngClass]="'seat-'+seat.number"
                [seat]="seat"
                (onBookSeat)="bookSeat($event)"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
