@import "colors";
$min-height: 106px;

.navbar {
  min-height: $min-height;
  margin-bottom: 1rem;

  .navbar-light {
    background-color: #fff;
  }

  .navbar-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: gray;
  }

  .navbar-nav {
    .nav-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &.active {
        background-color: $background-color;
      }
    }

    .nav-link {
      border-bottom: 3px solid transparent;

      &.active {
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1rem 6.5rem;
  }
}

