<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <form class="d-flex ms-lg-3" *ngIf="user$ | async">
      <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ng-container *ngIf="user$ | async as user">
        <div class="ms-auto d-lg-flex align-items-center d-none">
          <button class="btn btn-primary">Create a Seat</button>
          <div class="flex-center flex-column mx-3">
            <div class="navbar-avatar"></div>
            <span>{{ user.name }}</span>
          </div>
          <button class="btn" (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon></button>
        </div>
        <ul class="navbar-nav flex-center d-lg-none flex-column">
          <li class="nav-item">My Profile</li>
          <li class="nav-item">Create a Room</li>
          <li class="nav-item">Logout</li>
        </ul>
      </ng-container>
    </div>
  </div>
</nav>
