<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ng-container *ngIf="user$ | async as user">
        <ul class="navbar-nav d-none d-lg-flex">
          <li class="nav-link" [ngClass]="pathname === '/' ? 'active' : ''">
            <a routerLink="/">Home</a>
          </li>
          <li class="nav-link" [ngClass]="pathname === '/seat' ? 'active' : ''" *ngIf="user.role === 'manager'">
            <a routerLink="/seat">Seats</a>
          </li>
          <li class="nav-link" [ngClass]="pathname === '/profile' ? 'active' : ''">
            <a routerLink="/profile">Profile</a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="user$ | async as user">
        <div class="ms-auto d-lg-flex align-items-center d-none">
          <div class="flex-center flex-column mx-3">
            <div class="avatar"></div>
            <span>{{ user.name }}</span>
          </div>
          <button class="btn" (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon></button>
        </div>
        <ul class="navbar-nav justify-content-center d-lg-none flex-column text-center ">
          <li class="nav-item" [ngClass]="pathname === '/seat' ? 'active' : ''">
            <a routerLink="/">Home</a>
          </li>
          <li class="nav-item" [ngClass]="pathname === '/seat' ? 'active' : ''" *ngIf="user.role === 'manager'">
            <a routerLink="/seat">Seats</a>
          </li>
          <li class="nav-item" [ngClass]="pathname === '/profile' ? 'active' : ''">
            <a routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item" (click)="logout()">Logout</li>
        </ul>
      </ng-container>
    </div>
  </div>
</nav>
