<div class="modal-header">
  <h4 class="modal-title">{{booking ? 'Edit Booking' : 'Create Booking'}}</h4>
  <button type="button" class="btn btn-secondary close" aria-label="Close" (click)="closeModal()" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-group" [formGroup]="bookingForm">
    <div class="row gap-3">
      <div class="col-sm-12 d-flex flex-column" *ngIf="!user">
        <label for="users-list" class="form-label">Users</label>
        <select class="form-select" id="users-list" formControlName="userId" #users (change)="setUserName(users.options[users.options.selectedIndex].text)">
          <option selected>-- Select a user --</option>
          <option [value]="user.id" *ngFor="let user of users$ | async">{{user.name}}</option>
        </select>
        <div *ngIf="formUserId?.invalid && (formUserId?.dirty || formUserId?.touched)"
             class="text-danger px-0">
          <div *ngIf="formUserId?.errors?.['required']">
            User is required.
          </div>
        </div>
      </div>
      <div class="col-sm-12 d-flex flex-column">
        <app-datepicker [fromDate]="fromDate" [hasMinDate]="true" [toDate]="toDate" [disabledDates]="disabledDates" (onDateSelection)="onDateSelection($event)"></app-datepicker>
        <div *ngIf="formDate?.invalid"
             class="text-danger px-0">
          <div *ngIf="formDate?.errors?.['invalidRange']">
            Date range is invalid.
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-success" (click)="saveBooking()">Save</button>
</div>
