<div class="modal-header">
  <h4 class="modal-title">{{seat ? 'Edit Seat' : 'Create Seat'}}</h4>
  <button type="button" class="btn btn-secondary close" aria-label="Close" (click)="closeModal()" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-group" [formGroup]="seatForm">
    <div class="row gap-3">
      <div class="col-sm-12 d-flex flex-column">
        <label for="seat-name">Number</label>
        <input id="seat-name" type="number" name="number" min="1" max="100" class="form-control" formControlName="number" />
        <div *ngIf="number?.invalid && (number?.dirty || number?.touched)"
             class="text-danger px-0">
          <div *ngIf="number?.errors?.['required']">
            Number is required.
          </div>
          <div *ngIf="number?.errors?.['min'] || number?.errors?.['max']">
            Number must be between 1 and 100.
          </div>
        </div>
      </div>
      <div class="col-sm-12 d-flex flex-column">
        <label>Location</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="main-location-seat" value="main" formControlName="location">
          <label class="form-check-label" for="main-location-seat">
            Main Floor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="second-location-seat" value="second" formControlName="location">
          <label class="form-check-label" for="second-location-seat">
            Second Floor
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-success" (click)="saveSeat()">Save</button>
</div>
