<form class="row row-cols-sm-auto">
  <div class="col-sm-12">
    <label for="from-date">From: </label>
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input name="datepicker"
               id="from-date"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [autoClose]="'outside'"
               (dateSelect)="onSelect($event)"
               [displayMonths]="1"
               [dayTemplate]="t"
               outsideDays="hidden"
               [minDate]="fromDate ? fromDate : minDate!"
               [maxDate]="maxDate"
               [markDisabled]="isDisabled"
               tabindex="-1">
        <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input #dpFromDate
             class="form-control" placeholder="yyyy-mm-dd"
             name="dpFromDate"
             [value]="formatter.format(fromDate)"
             (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
             disabled="true"
      >
      <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
        <fa-icon [icon]="faCalendar"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-sm-12">
    <label for="to-date">To: </label>
    <div class="input-group">
      <input #dpToDate
             id="to-date"
             class="form-control" placeholder="yyyy-mm-dd"
             name="dpToDate"
             [value]="formatter.format(toDate)"
             (input)="toDate = validateInput(toDate, dpToDate.value)"
             disabled="true"
      >
      <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
        <fa-icon [icon]="faCalendar"></fa-icon>
      </button>
    </div>
  </div>
</form>
