<div class="row">
  <div class="col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2>Filters</h2>
        <form [formGroup]="filtersForm">
          <div class="row align-items-center">
            <div class="col-sm-12">
              <span>Floor:</span>
              <br />
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="radio" class="btn-check" id="all-floors-check" autocomplete="off" value="all" formControlName="location">
                <label class="btn btn-outline-primary" for="all-floors-check">All</label>

                <input type="radio" class="btn-check" id="main-check" autocomplete="off" value="main" formControlName="location">
                <label class="btn btn-outline-primary" for="main-check">Main Floor</label>

                <input type="radio" class="btn-check" id="second-check" autocomplete="off" value="second" formControlName="location">
                <label class="btn btn-outline-primary" for="second-check">Second Floor</label>


              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-sm-12">
              <span>Status:</span>
              <br />
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="radio" class="btn-check" id="all-check" autocomplete="off" value="all" formControlName="status">
                <label class="btn btn-outline-primary" for="all-check">All</label>

                <input type="radio" class="btn-check" id="free-check" autocomplete="off" value="free" formControlName="status">
                <label class="btn btn-outline-primary" for="free-check">Free</label>

                <input type="radio" class="btn-check" id="busy-check" autocomplete="off" value="busy" formControlName="status">
                <label class="btn btn-outline-primary" for="busy-check">Busy</label>
              </div>
            </div>
          </div>
        </form>
        <div class="row align-items-center">
          <app-datepicker></app-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="table-responsive">
          <h2>Seats</h2>
          <app-small-loader [loading]="(status$ | async) === 'loading'"></app-small-loader>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Location</th>
                <th>Status</th>
                <th class="text-end">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seat of seats$ | async">
                <td>{{seat.id}}</td>
                <td>{{seat.number}}</td>
                <td>{{seat.location | titlecase}} Floor</td>
                <td class="cell" [ngClass]="'cell-' + (seat.status == 'free' ? 'success' : 'danger')">{{seat.status}}</td>
                <td class="d-flex justify-content-end gap-2">
                  <button class="btn btn-secondary" (click)="editSeat(seat)">Edit</button>
                  <button class="btn btn-danger" (click)="deleteSeat(seat)">Delete</button>
                  <button class="btn btn-light">Reservations</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
